In [1]:
import callbacks
JHU_RECENT, JHU_TIME, CSBS, DATE_MAPPER =callbacks.serve_data(True)

In [24]:
gb = JHU_TIME.groupby('Date').sum()
todays_gf = 1+gb.pct_change()['confirmed'].iloc[-1]
yesterrday_gf = 1+gb.pct_change()['confirmed'].iloc[-2]
change_in_gf = todays_gf - yesterrday_gf

In [5]:
gb_sum = JHU_TIME.groupby('Date').sum()

In [23]:
x = gb_sum['confirmed'].pct_change()+1
x.diff()

Date
2020-01-22         NaN
2020-01-23         NaN
2020-01-24    0.260460
2020-01-25    0.085073
2020-01-26   -0.046923
                ...
2020-04-03   -0.005037
2020-04-04    0.011094
2020-04-05   -0.030212
2020-04-06   -0.005020
2020-04-07    0.002841
Name: confirmed, Length: 77, dtype: float64

In [34]:
CSBS[CSBS['county'] == 'Kansas City'].groupby('Date').sum().pct_change()

            lat           lon  confirmed  deaths
Date
2020-01-22  NaN           NaN        NaN     NaN
2020-01-23  0.0  0.000000e+00        NaN     NaN
2020-01-24  0.0  0.000000e+00        NaN     NaN
2020-01-25  0.0  0.000000e+00        NaN     NaN
2020-01-26  0.0  0.000000e+00        NaN     NaN
...         ...           ...        ...     ...
2020-04-04  0.0 -1.110223e-16   0.124183     0.0
2020-04-05  0.0  0.000000e+00   0.000000     0.0
2020-04-06  0.0  0.000000e+00   0.232558     1.5
2020-04-07  0.0  2.220446e-16   0.103774     0.4
2020-04-08  0.0 -1.110223e-16   0.000000     0.0

[78 rows x 4 columns]

In [61]:
import numpy as np
s = CSBS[CSBS['county'] == 'Kansas City'].groupby('Date').sum()['confirmed'].pct_change().fillna(0)+1
ys = s.replace(np.inf,1)

In [62]:
list(ys)

[1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.4883720930232558,
 1.46875,
 1.0851063829787233,
 1.0,
 1.1666666666666667,
 1.0,
 1.1680672268907564,
 1.1007194244604317,
 1.1241830065359477,
 1.0,
 1.2325581395348837,
 1.1037735849056605,
 1.0]

In [65]:
list(CSBS[CSBS['county'] == 'Kansas City'].groupby('Date').sum()['confirmed'].pct_change())

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 inf,
 -1.0,
 inf,
 0.4883720930232558,
 0.46875,
 0.0851063829787233,
 0.0,
 0.16666666666666674,
 0.0,
 0.16806722689075637,
 0.1007194244604317,
 0.12418300653594772,
 0.0,
 0.2325581395348837,
 0.10377358490566047,
 0.0]

In [90]:
a =list(CSBS[CSBS['county'] == 'Kansas City'].groupby('Date').sum()['confirmed'].replace(to_replace=0,method='ffill').pct_change()
b = list(CSBS[CSBS['county'] == 'Kansas City'].groupby('Date').sum()['confirmed'].replace(to_replace=0,method='ffill'))
list(zip(a,b))

[(nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (nan, 0.0),
 (inf, 25.0),
 (0.0, 25.0),
 (0.72, 43.0),
 (0.4883720930232558, 64.0),
 (0.46875, 94.0),
 (0.0851063829787233, 102.0),
 (0.0, 102.0),
 (0.16666666666666674, 119.0),
 (0.0, 119.0),
 (0.16806722689075637, 139.0),
 (0.1007194244604317, 153.0),
 (0.12418300653594772, 172.0),
 (0.0, 172.0),
 (0.2325581395348837, 212.0),
 (0.10377358490566047, 234.0),
 (0.0, 234.0)]

In [88]:
a

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 inf,
 0.0,
 0.72,
 0.4883720930232558,
 0.46875,
 0.0851063829787233,
 0.0,
 0.16666666666666674,
 0.0,
 0.16806722689075637,
 0.1007194244604317,
 0.12418300653594772,
 0.0,
 0.2325581395348837,
 0.10377358490566047,
 0.0]