In [2]:
import plotly
colors = plotly.colors.qualitative.Dark24

['#2E91E5',
 '#E15F99',
 '#1CA71C',
 '#FB0D0D',
 '#DA16FF',
 '#222A2A',
 '#B68100',
 '#750D86',
 '#EB663B',
 '#511CFB',
 '#00A08B',
 '#FB00D1',
 '#FC0080',
 '#B2828D',
 '#6C7C32',
 '#778AAE',
 '#862A16',
 '#A777F1',
 '#620042',
 '#1616A7',
 '#DA60CA',
 '#6C4516',
 '#0D2A63',
 '#AF0038']

In [4]:
import callbacks
JHU_RECENT, JHU_TIME, CSBS, DATE_MAPPER =callbacks.serve_data(True)

In [24]:
gb = JHU_TIME.groupby('Date').sum()
todays_gf = 1+gb.pct_change()['confirmed'].iloc[-1]
yesterrday_gf = 1+gb.pct_change()['confirmed'].iloc[-2]
change_in_gf = todays_gf - yesterrday_gf

In [50]:
import flask

In [51]:
cookie = flask.request.cookies.get('my_cookie')

RuntimeError: Working outside of request context.

This typically means that you attempted to use functionality that needed
an active HTTP request.  Consult the documentation on testing for
information about how to avoid this problem.

In [40]:
import dash
dash.callback_context.response

MissingCallbackContextException: dash.callback_context.response is only available from a callback!

In [42]:
# %load application.py
import dash
import layouts
import callbacks
import flask


def get_meta():
    meta_tags = [
        {"name": "viewport",
         "content": "width=device-width, initial-scale=1.0"},
        {"name": "author",
         "content": "Jordan R. Willis PhD"},

        {"name": "description",
         "content": "Hi! My name is Jordan. Here is my COVID-19 tracking application built in Dash and served by Flask and AWS. Timescale Resolution."},
        {"name": "keywords",
         "content": "COVID19,COVID-19,caronavirus,tracking,dash"},
        {'property': 'og:image',
         "content": "https://i.imgur.com/IOSVSbI.png"},
        {'property': 'og:title',
         "content": "Coronavirus 2019 - A tracking application"
         },
        {'property': 'og:description',
         "content": "Hi! My name is Jordan. Here is my COVID-19 tracking application built in Dash and served by Flask and AWS. It is updated with various scraping APIS. Timescale Resolution."
         }

    ]

    return meta_tags


# Initialize APP
server = flask.Flask(__name__)
app = dash.Dash(server=server,
                meta_tags=get_meta())
# app.layout = layouts.serve_dash_layout
# callbacks.register_callbacks(app)
# app.title = "COVID-19 Infection Dashboard"
# # We must expose this for Elastic Bean Stalk to Run
# application = app.server


# if __name__ == '__main__':
#     app.run_server(debug=True, port=8050)

In [49]:
app.server.dr

In [30]:
CSBS[(CSBS['province'] == "New York") & (CSBS['country'] == 'US')].groupby(
                    ['Date','Date_text']).sum().reset_index()

         Date Date_text          lat          lon  confirmed  deaths
0  2020-01-22  01/22/20  2473.511961 -4384.134679        0.0     0.0
1  2020-01-23  01/23/20  2473.511961 -4384.134679        0.0     0.0
2  2020-01-24  01/24/20  2473.511961 -4384.134679        0.0     0.0
3  2020-01-25  01/25/20  2473.511961 -4384.134679        0.0     0.0
4  2020-01-26  01/26/20  2473.511961 -4384.134679        0.0     0.0
..        ...       ...          ...          ...        ...     ...
70 2020-04-01  04/01/20  2473.511961 -4384.134679    83948.0  1376.0
71 2020-04-02  04/02/20  2473.511961 -4384.134679    92743.0  1952.0
72 2020-04-03  04/03/20  2473.511961 -4384.134679   102987.0  2263.0
73 2020-04-04  04/04/20  2473.511961 -4384.134679   113833.0  2392.0
74 2020-04-05  04/05/20  2473.511961 -4384.134679   122192.0  2827.0

[75 rows x 6 columns]

In [32]:
CSBS[(CSBS['county'] == "New York") & (CSBS['province'] == "New York")].groupby(
    ['Date_text','Date','country', 'province', 'county']).sum()

,,,,,lat,lon,confirmed,deaths
Date_text,Date,country,province,county,,,,
01/22/20,2020-01-22,US,New York,New York,40.71455,-74.00714,0.0,0.0
01/23/20,2020-01-23,US,New York,New York,40.71455,-74.00714,0.0,0.0
01/24/20,2020-01-24,US,New York,New York,40.71455,-74.00714,0.0,0.0
01/25/20,2020-01-25,US,New York,New York,40.71455,-74.00714,0.0,0.0
01/26/20,2020-01-26,US,New York,New York,40.71455,-74.00714,0.0,0.0
...,...,...,...,...,...,...,...,...
04/01/20,2020-04-01,US,New York,New York,40.71455,-74.00714,47439.0,1139.0
04/02/20,2020-04-02,US,New York,New York,40.71455,-74.00714,51809.0,1562.0
04/03/20,2020-04-03,US,New York,New York,40.71455,-74.00714,57159.0,1867.0
04/04/20,2020-04-04,US,New York,New York,40.71455,-74.00714,63306.0,1905.0
04/05/20,2020-04-05,US,New York,New York,40.71455,-74.00714,67551.0,2256.0

In [27]:
JHU_DF_AGG_PROVINCE = JHU_TIME[JHU_TIME['province'] != ''].sort_values('confirmed')[::-1].groupby(['Date', 'country','province']).agg(
        {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index()

In [30]:
CSBS_DF_AGG_STATE = CSBS[CSBS['province'] != ''].sort_values('confirmed')[::-1].groupby(['Date','country', 'province']).agg(
        {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index().rename({'province': 'state'}, axis=1)

In [35]:
CSBS_DF_AGG_COUNTY = CSBS[CSBS['county'] != ''].sort_values('confirmed')[::-1].groupby(['Date','country','province','county']).agg(
        {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index()

In [52]:
provinces = [{'label': x, 'value': "PROVINCE_{0}:{1}".format(
        x,y)} for x,y in JHU_DF_AGG_PROVINCE.groupby(['province','country']).groups.keys()]
state = [{'label': x, 'value': "STATE_{0}:{1}".format(
    x,y)} for x,y in CSBS_DF_AGG_STATE.groupby(['state','country']).groups.keys()]
counties = [{'label': x+" County", 'value': "COUNTY_{0}:{1}".format(
    x,y)} for x,y in CSBS_DF_AGG_COUNTY.groupby(['county','province']).groups.keys()]

In [62]:
official_date = DATE_MAPPER.iloc[63]['Date']

# Lets trim down the dataframes
JHU_TIME_DATE = JHU_TIME[JHU_TIME['Date'] == official_date]

SUB_DF_COUNTRY = JHU_TIME_DATE.sort_values('confirmed')[::-1].groupby(['country']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index().rename({'country': 'location'}, axis=1)
SUB_DF_COUNTRY['Text_Cases'] = 'Country: '+SUB_DF_COUNTRY['location'] + \
    '<br>Total Cases:' + \
    SUB_DF_COUNTRY['confirmed'].apply(
        lambda x: "{:,}".format(int(x)))
SUB_DF_COUNTRY['Text_Deaths'] = 'Country: '+SUB_DF_COUNTRY['location'] + \
    '<br>Total Deaths:' + \
    SUB_DF_COUNTRY['deaths'].apply(lambda x: "{:,}".format(int(x)))
SUB_DF_COUNTRY['type'] = 'country'
SUB_DF_COUNTRY['source'] = 'JHU'
SUB_DF_COUNTRY['lookup'] = "COUNTRY"+"_"+SUB_DF_COUNTRY['location']+':None'

In [63]:
SUB_DF_COUNTRY

,location,lat,lon,confirmed,deaths,Text_Cases,Text_Deaths,type,source,lookup
0,Afghanistan,33.0000,65.0000,84,2,Country: Afghanistan<br>Total Cases:84,Country: Afghanistan<br>Total Deaths:2,country,JHU,COUNTRY_Afghanistan:None
1,Albania,41.1533,20.1683,146,5,Country: Albania<br>Total Cases:146,Country: Albania<br>Total Deaths:5,country,JHU,COUNTRY_Albania:None
2,Algeria,28.0339,1.6596,302,21,Country: Algeria<br>Total Cases:302,Country: Algeria<br>Total Deaths:21,country,JHU,COUNTRY_Algeria:None
3,Andorra,42.5063,1.5218,188,1,Country: Andorra<br>Total Cases:188,Country: Andorra<br>Total Deaths:1,country,JHU,COUNTRY_Andorra:None
4,Angola,-11.2027,17.8739,3,0,Country: Angola<br>Total Cases:3,Country: Angola<br>Total Deaths:0,country,JHU,COUNTRY_Angola:None
...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,6.4238,-66.5897,91,0,Country: Venezuela<br>Total Cases:91,Country: Venezuela<br>Total Deaths:0,country,JHU,COUNTRY_Venezuela:None
177,Vietnam,16.0000,108.0000,141,0,Country: Vietnam<br>Total Cases:141,Country: Vietnam<br>Total Deaths:0,country,JHU,COUNTRY_Vietnam:None
178,West Bank and Gaza,31.9522,35.2332,59,0,Country: West Bank and Gaza<br>Total Cases:59,Country: West Bank and Gaza<br>Total Deaths:0,country,JHU,COUNTRY_West Bank and Gaza:None
179,Zambia,-15.4167,28.2833,12,0,Country: Zambia<br>Total Cases:12,Country: Zambia<br>Total Deaths:0,country,JHU,COUNTRY_Zambia:None
180,Zimbabwe,-20.0000,30.0000,3,1,Country: Zimbabwe<br>Total Cases:3,Country: Zimbabwe<br>Total Deaths:1,country,JHU,COUNTRY_Zimbabwe:None

In [64]:
SUB_DF_PROVINCE = JHU_TIME_DATE[JHU_TIME_DATE['province'] != ''].sort_values('confirmed')[::-1].groupby(['country','province']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index().rename({'province': 'location'}, axis=1)
SUB_DF_PROVINCE['Text_Cases'] = 'Province: '+SUB_DF_PROVINCE['location'] + \
    '<br>Total Cases:' + \
    SUB_DF_PROVINCE['confirmed'].apply(
        lambda x: "{:,}".format(int(x)))
SUB_DF_PROVINCE['Text_Deaths'] = 'Province: '+SUB_DF_PROVINCE['location'] + \
    '<br>Total Deaths:' + \
    SUB_DF_PROVINCE['deaths'].apply(
    lambda x: "{:,}".format(int(x)))
SUB_DF_PROVINCE['source'] = 'JHU'
SUB_DF_PROVINCE['type'] = 'province'
SUB_DF_PROVINCE['lookup'] =  "PROVINCE"+"_"+SUB_DF_PROVINCE['location']+':'+SUB_DF_PROVINCE['country']

In [66]:
jhu_df = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/jhu_df.csv.gz', index_col=0)
jhu_df_time = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/jhu_df_time.csv.gz', index_col=0)
csbs_df = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/csbs_df.csv.gz', index_col=0)

jhu_df_time['Date'] = pd.to_datetime(jhu_df_time['Date'])
jhu_df['Date'] = pd.to_datetime(jhu_df['Date'])
csbs_df['Date'] = pd.to_datetime(csbs_df['Date'])

date_mapper = pd.DataFrame(
    jhu_df_time['Date'].unique(), columns=['Date'])
date_mapper['Date_text'] = date_mapper['Date'].dt.strftime('%m/%d/%y')

# JHU and CSBS are out of sync, so we should use the latest date from JHU
latest_date = jhu_df_time.sort_values('Date')['Date'].iloc[-1]
merge = pd.concat([jhu_df, csbs_df[csbs_df['Date'] == latest_date]])
merge = merge.fillna('')

# Countries without a code may be a problem
problem_countries = merge[merge['country_code'] == '']['country'].tolist()

# I know for a fact Namibia has no coud
merge.loc[merge['country'] == 'Namibia', 'country_code'] = ''

# Lets grab the centroids from this great spread sheet
centroid_mapper = pd.read_csv('./country_centroids_az8.csv')
problem_states = merge[~merge['country_code'].isin(
    centroid_mapper['iso_a2'])]
new_merge = merge.merge(
    centroid_mapper, left_on='country_code', right_on='iso_a2')

# If something is has the same name for continent and subregion, lets just add the word _subregion
new_merge.loc[new_merge['continent'] == new_merge['subregion'],
              'subregion'] = new_merge['subregion'] + ' Subregion'

# # Lets remove the US Data since we are doubel counting htis by merging CSBSS
new_merge_no_us = new_merge[~((new_merge['country'] == 'US') & (
    new_merge['province'] == ''))]
MERGED_CSBS_JHU = new_merge
JHU_TIME = jhu_df_time
JHU_RECENT = jhu_df
DATE_MAPPER = date_mapper
CSBS = csbs_df
CENTROID_MAPPER = centroid_mapper

JHU_DF_AGG_COUNTRY = JHU_TIME.sort_values('confirmed')[::-1].groupby(['Date', 'country']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index()

JHU_DF_AGG_PROVINCE = JHU_TIME[JHU_TIME['province'] != ''].sort_values('confirmed')[::-1].groupby(['Date', 'country', 'province']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index()

CSBS_DF_AGG_STATE = CSBS[CSBS['province'] != ''].sort_values('confirmed')[::-1].groupby(['Date', 'country', 'province']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index().rename({'province': 'state'}, axis=1)

CSBS_DF_AGG_COUNTY = CSBS[CSBS['county'] != ''].sort_values('confirmed')[::-1].groupby(['Date', 'country', 'province', 'county']).agg(
    {'lat': 'first', 'lon': 'first', 'confirmed': 'sum', 'deaths': 'sum'}).reset_index()

In [77]:
CSBS_DF_AGG_STATE['confirmed'].apply(lambda x: "{:,}".format(int(x)))

0           0
1           0
2           0
3           0
4           0
        ...
4213    2,407
4214    6,621
4215      282
4216    2,013
4217      187
Name: confirmed, Length: 4218, dtype: object

In [ ]:
lambda x: "{:,}".format(x['Value']), axis=1)
print(df.head())

In [25]:
confirmed,deaths = JHU_RECENT.sum()[['confirmed','deaths']]
date = JHU_RECENT['Date_text'].iloc[0]
entry = {'Date':date,'Country':'Worldwide','Province/State':'Worldwide','County':'County', 'Confirmed':confirmed,'Deaths':deaths}

In [4]:
jhu_df = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/jhu_df.csv.gz', index_col=0)
jhu_df_time = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/jhu_df_time.csv.gz', index_col=0)
csbs_df = pd.read_csv(
    'https://jordansdatabucket.s3-us-west-2.amazonaws.com/covid19data/csbs_df.csv.gz', index_col=0)

jhu_df_time['Date'] = pd.to_datetime(jhu_df_time['Date'])
jhu_df['Date'] = pd.to_datetime(jhu_df['Date'])
csbs_df['Date'] = pd.to_datetime(csbs_df['Date'])

In [15]:
jhu_df_time['granularity'] = ''

In [22]:
jhu_df_time.head()

,lat,lon,Timestamp,Date,province,country_code,country,county,confirmed,deaths,source,Date_text,granularity
0,33.0,65.0,2020-01-22 00:00:00+00:00,2020-01-22,NaN,AF,Afghanistan,NaN,0,0,JHU,01/22/20,
1,33.0,65.0,2020-01-23 00:00:00+00:00,2020-01-23,NaN,AF,Afghanistan,NaN,0,0,JHU,01/23/20,
2,33.0,65.0,2020-01-24 00:00:00+00:00,2020-01-24,NaN,AF,Afghanistan,NaN,0,0,JHU,01/24/20,
3,33.0,65.0,2020-01-25 00:00:00+00:00,2020-01-25,NaN,AF,Afghanistan,NaN,0,0,JHU,01/25/20,
4,33.0,65.0,2020-01-26 00:00:00+00:00,2020-01-26,NaN,AF,Afghanistan,NaN,0,0,JHU,01/26/20,

In [16]:
jhu_df_time.loc[~jhu_df_time['province'].isna(),'granularity'] = 'province'

In [24]:
jhu_df_time.groupby(['Date','country','source']).mean()

                                          lat       lon  county  confirmed  \
Date       country            source
2020-01-22 Afghanistan        JHU     33.0000   65.0000     NaN        0.0
           Albania            JHU     41.1533   20.1683     NaN        0.0
           Algeria            JHU     28.0339    1.6596     NaN        0.0
           Andorra            JHU     42.5063    1.5218     NaN        0.0
           Angola             JHU    -11.2027   17.8739     NaN        0.0
...                                       ...       ...     ...        ...
2020-04-03 Venezuela          JHU      6.4238  -66.5897     NaN      153.0
           Vietnam            JHU     16.0000  108.0000     NaN      237.0
           West Bank and Gaza JHU     31.9522   35.2332     NaN      194.0
           Zambia             JHU    -15.4167   28.2833     NaN       39.0
           Zimbabwe           JHU    -20.0000   30.0000     NaN        9.0

                                      deaths
Date       country            source
2020-01-22 Afghanistan        JHU        0.0
           Albania            JHU        0.0
           Algeria            JHU        0.0
           Andorra            JHU        0.0
           Angola             JHU        0.0
...                                      ...
2020-04-03 Venezuela          JHU        7.0
           Vietnam            JHU        0.0
           West Bank and Gaza JHU        1.0
           Zambia             JHU        1.0
           Zimbabwe           JHU        1.0

[13213 rows x 5 columns]