In [1]:
import data
import pandas as pd
from tools import write_pandas_to_gsheet

MERGE_NO_US, MERGED_CSBS_JHU, JHU_TIME, JHU_RECENT, DATE_MAPPER, CSBS, CENTROID_MAPPER = data.get_data()

                     lat  lon  Timestamp  Date  country_code  country  \
province county
Alabama  Autauga      65   65         65    65            65       65
         Baldwin      65   65         65    65            65       65
         Blount       65   65         65    65            65       65
         Bullock      65   65         65    65            65       65
         Butler       65   65         65    65            65       65
...                  ...  ...        ...   ...           ...      ...
Wyoming  Natrona      65   65         65    65            65       65
         Park         65   65         65    65            65       65
         Sheridan     65   65         65    65            65       65
         Sweetwater   65   65         65    65            65       65
         Teton        65   65         65    65            65       65

                     confirmed  deaths  source  Date_text
province county
Alabama  Autauga            65      65      65         65
         Baldwin            65      65      65         65
         Blount             65      65      65         65
         Bullock            65      65      65         65
         Butler             65      65      65         65
...                        ...     ...     ...        ...
Wyoming  Natrona            65      65      65         65
         Park               65      65      65         65
         Sheridan           65      65      65         65
         Sweetwater         65      65      65         65
         Teton              65      65      65         65

[1666 rows x 10 columns]

In [ ]:
sub_df = JHU_TIME[JHU_TIME['province'] == 'Hubei'].sort_values('Date')

In [ ]:
'Hubei' in list(JHU_TIME['province'])

In [ ]:
pd.to_datetime('2020-1-22')

In [ ]:
JHU_TIME

In [ ]:
MERGE_NO_US.groupby('country').get_group('US')['Date']